@import './variables';
@import '~bulma/bulma';

html,
body {
  height: 100%;
}

// Bulma Overrides
.button {
  height: auto;
  padding-top: $button-padding-vertical;
  padding-right: $button-padding-horizontal;
  padding-bottom: $button-padding-vertical;
  padding-left: $button-padding-horizontal;
  border-width: 2px;
  border-radius: $default-radius;
  font-weight: 700;
  cursor: pionter;

  &--long {
    padding-right: $button-padding-horizontal-long;
    padding-left: $button-padding-horizontal-long;
  }

  &.is-text {
    text-decoration: none;
  }
}

.card {
  border-radius: $default-radius;
  border-color: $light;
}

.label {
  color: $blue-dark;
}

.field:not(:last-child) {
  margin-bottom: 1.75rem;
}

.navbar-item,
.navbar-item:hover,
.navbar-item > .button,
.navbar-item > .button:hover {
  color: $primary;
}

.navbar,
.navbar-brand > .navbar-item,
.navbar-brand > .navbar-item:hover {
  background-color: transparent;
}
