@import './variables';
@import '~bulma/bulma';
@import '~flatpickr/dist/flatpickr.css';

html,
body {
  width: 100%;
  height: 100%;
}

// Bulma Overrides
.button,
.input {
  @include button;

  &--long {
    padding-right: $button-padding-horizontal-long;
    padding-left: $button-padding-horizontal-long;
  }

  &.is-text {
    text-decoration: none;
  }

  &.is-flat {
    padding-top: $button-padding-vertical;
    padding-right: $button-padding-horizontal;
    padding-bottom: $button-padding-vertical;
    padding-left: $button-padding-horizontal;
    border-width: 2px;
    border-radius: $default-radius;
  }
}

.card {
  position: relative;
  border-radius: $default-radius;
  border-color: $light;
}

.card-content {
  border-top-left-radius: $default-radius;
  border-top-right-radius: $default-radius;
  background: $white;
}

.card-footer {
  padding: 1rem;
  border-bottom-right-radius: $default-radius;
  border-bottom-left-radius: $default-radius;
  background: $white;
}

.label {
  color: $blue-dark;
}

.field:not(:last-child) {
  margin-bottom: 1.75rem;
}

.navbar-item,
.navbar-item:hover,
.navbar-item > .button,
.navbar-item > .button:hover {
  color: $primary;
}

.navbar,
.navbar-brand > .navbar-item,
.navbar-brand > .navbar-item:hover {
  background-color: transparent;
}

// Flatpickr Overrides
.flatpickr-calendar {
  top: calc(100% + 20px);
  border-radius: $default-radius;
  box-shadow: 0 2px 12px rgba($black, 0.4);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -8px;
    right: auto;
    left: 24px;
    width: 16px;
    height: 16px;
    margin: 0;
    transform: rotate(45deg);
    border: none;
    border-top-left-radius: 2px;
  }

  &::before {
    z-index: -1;
    box-shadow: 0 2px 12px rgba($black, 0.4);
  }

  &::after {
    z-index: 0;
    background-color: $white;
  }

  &.animate.open {
    animation: none;
  }

  &.static {
    position: absolute;
    z-index: 1;
    top: calc(100% + 20px);
  }
}

.flatpickr-current-month {
  span.cur-month {
    font-weight: 400;
  }
}

.flatpickr-day {
  &.selected,
  &.selected:hover {
    border-color: $purple-3;
    background: $purple-3;
  }
}
