@import './variables';
@import '~bulma/bulma';

// Bulma Overrides
.button {
  padding-right: $button-padding-horizontal;
  padding-left: $button-padding-horizontal;
  border-width: 2px;
  border-radius: $default-radius;
  font-weight: 700;
}

.card {
  border-radius: $default-radius;
  border-color: $light;
}
