// 1. Import the initial variables
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// 2. Set your own initial variables

/* Colors */
$light: #eff1f5;
$light-gray: #f2f2f2;
$light-gray-2: #f7f7fb;
$text-light: #828282;
$gray: #a5acbb;
$border: #c0c0cd;
$border-blue: #d7d7e9;
$blue: #2b67f5;
$blue-dark: #122758;
$blue-light: #526280;
$purple-1: #9939bd;
$purple-2: #724dbe;
$purple-3: #432387;
$orange: #ee7256;

// Add invert colors
$blue-dark-invert: findColorInvert($blue-dark);
$purple-invert: findColorInvert($purple-3);

/* Default properties */
$default-radius: 6px;
$navbar-height: 6.25rem;
$button-padding-vertical: 0.5rem;
$button-padding-horizontal: 1rem;
$button-padding-horizontal-long: 4rem;
$menu-item-radius: 0;

// 3. Set the derived variables
$primary: $purple-3;
$primary-invert: $purple-invert;
$link: $purple-3;
$danger: $orange;

// Use the new serif family
$family-inter: 'Inter UI', $family-sans-serif;
$family-primary: $family-inter;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import '~bulma/sass/utilities/derived-variables';

$addColors: (
  'twitter': (
    $twitter,
    $twitter-invert
  ),
  'linkedin': (
    $linkedin,
    $linkedin-invert
  ),
  'github': (
    $github,
    $github-invert
  )
);
$colors: map-merge($colors, $addColors);
