// 1. Import the initial variables
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// 2. Set your own initial variables

/* Colors */
$light: #eff1f5;
$gray: #a5acbb;
$blue: #2b67f5;
$blue-dark: #122758;
$blue-light: #526280;
$purple: #9939bd;
$dark-purple: #742292;
$orange: #ee7256;

// Add invert colors
$blue-dark-invert: findColorInvert($blue-dark);

/* Default properties */
$default-radius: 6px;
$navbar-height: 6.25rem;
$button-padding-vertical: 0.5rem;
$button-padding-horizontal: 1.25rem;
$button-padding-horizontal-long: 4rem;

// 3. Set the derived variables
$primary: $purple;
$primary-invert: $purple;
$link: $purple;
$danger: $orange;

// Use the new serif family
$family-inter: 'Inter UI', $family-sans-serif;
$family-primary: $family-inter;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import '~bulma/sass/utilities/derived-variables';

$addColors: (
  'twitter': ($twitter, $twitter-invert),
  'linkedin': ($linkedin, $linkedin-invert),
  'github': ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);
